:root {
  --ifm-color-primary: #0a7ea4;
  --ifm-color-primary-dark: #096f8f;
  --ifm-color-primary-darker: #086681;
  --ifm-color-primary-darkest: #06536a;
  --ifm-color-primary-light: #0c8db9;
  --ifm-color-primary-lighter: #0d96c3;
  --ifm-color-primary-lightest: #0fa9dc;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.table-of-contents {
  font-size: 0.875rem;
}

article h2 {
  margin-top: 2rem;
}

article h3 {
  margin-top: 1.5rem;
}
